<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.4.0" targetFramework="net452" />
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="PDFsharp-MigraDoc-wpf" version="1.50.4619-beta4c" targetFramework="net452" />
</packages>